*{
    margin:0;
    padding:0;
    user-select:none;
    text-align:center;
    font-family:'Courier New', Courier, monospace;
    -ms-overflow-style: none;
    scrollbar-width: none;
    
  }
  ::-webkit-scrollbar {
    display: none;
  }
  body{
    background-image: linear-gradient(to bottom right,
     rgb(75, 185, 130) , rgb(180, 122, 15));
  }
  .header{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align:center;
    font-size:large;
    justify-content:center;
    background-color: #555555;
    background-repeat:round;
    position: fixed;
    top: 0;
    width: 100%;
  }
  a{
    color:black;
    text-decoration: none;
  }
  h2{
    text-align:left;
    padding:5px;
    margin:5px;
  }
  .box {
    margin-top: 4rem;
    padding: 4rem 4rem;
    margin:auto;
    
  }
  .box::after {
    clear: both;
    content: "";
    display: table;
  }
  .title{
    display: inline-block;
    width: 100%;
    box-shadow: 
    0 0 2px 0 rgba(0, 0, 0, .20), 
    0 0 4px 0 rgba(0, 0, 0, .3), 
    0 12px 12px 0 rgba(0, 0, 0, .20);
    margin: 0.5rem 0.5rem;
    transition: box-shadow .2s ease-in-out;
    border-radius: 4px;
    overflow: hidden;
    background-color: white;
  }
  .card {
    display: inline-block;
    float: left;
    box-shadow: 
    0 0 2px 0 rgba(0, 0, 0, .20), 
    0 0 4px 0 rgba(0, 0, 0, .3), 
    0 12px 12px 0 rgba(0, 0, 0, .20);
    margin: 0.5rem 0.5rem;
    transition: box-shadow .2s ease-in-out;
    border-radius: 4px;
    overflow: hidden;
    background-color: white;
  }
  .card:hover {
    border: 1px soild black;
  }
    .card img {
    width: 192px;
    height: 237px;
    padding: 0;
    margin: 0;
  }
  .card > h3 {
    padding-top: 0.35rem;
    margin: 0 0 0.4rem 0;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 500;
    transition: color .2s ease-in-out;
    font-size: 16px;
  }
  li{
    float: left;
  }
  
  li a:not(.logo){
    display: block;
    color: snow;
    text-align: center;
    text-decoration: none;
    padding: 15px;
  }
  li a:hover{
    color: black;
  }
  li a img{
    width: 64px;
    height: 79px;
  }
  
  li .logo{
    display: block;
    color: snow;
    text-align: center;
    text-decoration: none;
    padding: 4.5px 11px 4.5px 11px;
  }
  
  
  