/*
    Yangko Studio
    css/style.css
    1000
*/
*{
    user-select: none;
    font-family:"Trebuchet MS", Verdana, sans-serif;
}
 ::-webkit-scrollbar
 {
    width: 0;
    height: 0.5rem;
    background-color:#F5F5F5;
 }
 ::-webkit-scrollbar-track{background-color:#F5F5F5;}
 ::-webkit-scrollbar-thumb{background-color:#333;}
body{
    margin: 0;
    background-color: #888;
}
#header{
    white-space:nowrap;
    position: fixed;
    top: 0;
    opacity: 0.9;
    width: 100%;
    background-color:#444;
    background-image: linear-gradient(to right, #444 , #222);
}
a{
    text-decoration: none;
    color: black;
}
#menu{
    display: none;
    position: fixed;
    background-color: white;
    border-radius: 0 0 10px 0;
    padding: 1rem;
    opacity: 0.9;
    margin-top: 0.1rem;
}
#menu .z{
    display: inline-block;
}
#menu h3{
    
    color: rgb(62, 67, 109);
}
#menu img{
    width: 1.9rem;
    margin: auto;
}

#menu li{
    
}
#menu a {
    position: relative;
    padding: 8px 10px 8px 10px;
    font-size: 18px;
    line-height: 1;
    transition: 0.3s all linear;
    cursor: pointer;
}
#menu a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0%;
    width: 0;
    height: 100%;
    border-bottom: 2px solid;
    transition: 0.3s all linear;
}
#menu a:hover::before {
    width: 100%;
    top: 0;
    left: 0;
}
#menu a:focus{
    transition: 0s all linear;
    color: white;
    font-size: 18px;
    transition: 0.3s all linear;
}


#header ul {
    width: 100%;
    display: flex;
    position: relative;
}
li{list-style-type: none;}
#header a {
    position: relative;
    padding: 8px 10px 8px 10px;
    font-size: 18px;
    line-height: 1;
    transition: 0.2s all linear;
    cursor: pointer;
}
#header a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 100%;
    border-bottom: 3px solid;
    transition: 0.2s all linear;
}
#header a:hover::before {
    width: 100%;
    top: 0;
    left: 0;
}
#header a:focus{
    transition: 0s all linear;
    color: white;
    font-size: 18px;
    transition: 0.2s all linear;
}
input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    position: relative;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: url("../image/svg/XMark.svg") no-repeat center;
    background-size: 100% 100%;
    color:rgba(0,0,0,0);
}
input[type=search]::-ms-clear {
    appearance: none;
    position: relative;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: url("../image/svg/XMark.svg") no-repeat center;
    background-size: 100% 100%;
    color:rgba(0,0,0,0);
}
input{
    outline: none;
}
#header form{
    font-size: 0;
    background-color: white;
    border-radius: 16px;
}
#header input[type=button]{
    padding: 0 2rem 0 2rem;
    border: 0;
    border-radius: 16px;
}
#header input[type=button]:focus{
    border: 0;
}
#header input[type=button]:hover{
    background: linear-gradient(to right,rgb(185, 233, 95),rgb(156, 68, 36));
    transition: 0.2s all linear;
}
#header input[type=search]{
    background-color: white;
    border: 0;
    border-radius: 16px 0 0 16px;
}

#header input[type=submit]{
    background-color: orangered;
    border: 0;
    border-radius: 0 16px 16px 0;
}
.a1{
    padding: 4px;
    border-radius: 3px;
    background-color: peru;
    color: white;
}
#footer{
    opacity: 0.9;
    white-space:nowrap;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
}
.a2{
    font-weight: 500;
    padding-left: 5px;
    color: black;
    background: linear-gradient(to right,blue,orangered);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.t0:hover{color: #ffffff;}
.t1:hover{color: #ff0000;}
.t2:hover{color: #00ff7f;}
.t3:hover{color: #0000ff;}
.t4:hover{color: #ff4500;}
.t5:hover{color: #800080;}
.t6:hover{color: #a52a2a;}
#ad{
    white-space:nowrap;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: 3.2rem;
    text-align: center;
    font-style: italic;
}
#box{margin-top: 1rem;}
#shows{
    white-space: nowrap;
    overflow: auto;
	width: 100%;
}
#shows div{
    width: 100%;
    background: #666;
    display: inline-block;
}
#shows td,th{
    width: 100%;
}
#shows a{
    padding: 0.5rem 2rem 0.5rem 2rem;
    background-color: white;
    border-radius: 4px;
    float: right;
    margin: 0 5rem 5rem 0;
}
#shows a:hover{
    background-color: #e66465;
    transition: 0.2s all linear;
}
#sth{
    margin-top: 1rem;
    overflow: auto;
	width: 100%;
}
#sth div{
    height: 10%;
    float: left;
    overflow:auto;
    width: 50%;
    background: #444;
    display: inline-block;
}
#sth p{
    font-size: 10px;
}
#sth img{
    height: 100%;
    float: left;
}
#box a{
    float: right;
}
#box a:hover{
    color: white;
    transition: 0.2s all linear;
}
#sth,#box table{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
#sth,#box td,th{
    border-left: 1px solid black;
    border-top: 1px solid black;
}
#box img{
    width: 2rem;
    height: 2rem;
}
#sth img{
    width: 15rem;
    height: 8rem;
}

#txt{
    float: right;
}
