/*
    Yangko Studio
    css/style.css
    1000
*/
*{
    font-family:"Trebuchet MS", Verdana, sans-serif;
}
body{
    margin: 0;
    background-color: #777;
}
#header{
    white-space:nowrap;
    position: fixed;
    top: 0;
    width: 100%;
    background-color:white;
    background-color: #555;
}
a{
    text-decoration: none;
    color: black;
}
#header ul {
    width: 100%;
    display: flex;
    position: relative;
}
li{list-style-type: none;}
#header a {
    position: relative;
    padding: 8px 10px 8px 10px;
    font-size: 18px;
    line-height: 1;
    transition: 0.15s all linear;
    cursor: pointer;
}
#header a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 100%;
    border-bottom: 3px solid;
    transition: 0.15s all linear;
}
#header a:hover::before {
    width: 100%;
    top: 0;
    left: 0;
}
#header a:focus{
    transition: 0s all linear;
    color: white;
    font-size: 18px;
    transition: 0.15s all linear;
}
.a1{
    padding: 4px;
    border-radius: 3px;
    background-color: peru;
    color: white;
}
#footer{
    white-space:nowrap;
    position: fixed;
    bottom: 0;
    padding: 1rem;
    width: 100%;
    background-color: #555;
}
.a2{
    font-weight: 500;
    padding-left: 5px;
    color: black;
    background: linear-gradient(to right,blue,orangered);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.t0:hover{color: #ffffff;}
.t1:hover{color: #ff0000;}
.t2:hover{color: #00ff7f;}
.t3:hover{color: #0000ff;}
.t4:hover{color: #ff4500;}
.t5:hover{color: #800080;}
.t6:hover{color: #a52a2a;}
#ad{
    white-space:nowrap;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: 70px;
    text-align: center;
    font-style: italic;
}
#shows{
    white-space: nowrap;
    overflow: auto;
	width: 100%;
}
#shows div{
    width: 100%;
    background: #555;
    display: inline-block;
}
#shows a{
    padding: 0.5rem 2rem 0.5rem 2rem;
    background-color: white;
    border-radius: 4px;
    float: right;
    margin: 0 10px 10px 0;
}
#shows a:hover{
    background-color: #e66465;
    transition: 0.15s all linear;
}
#box a{
    float: right;
}
#box a:hover{
    color: white;
    transition: 0.15s all linear;
}
table{
    border-collapse: collapse;
    width: 100%;
    border-top: 1px solid black;
}
table td{
    padding: 1em;
    border-bottom: 1px solid black;
}