*{font-family:"Gill Sans", sans-serif;user-select: none;}
body{margin: 0;background-color: #777;}
#header{
    white-space:nowrap;
    position: fixed;
    top: 0;
    width: 100%;
    background-color:white;
    background-color: #666;
}
a{text-decoration: none;color: black;}
#header ul {
    width: 100%;
    display: flex;
    position: relative;
}
li{list-style-type: none;}
#header a {
    position: relative;
    padding: 8px 10px 8px 10px;
    font-size: 18px;
    line-height: 1;
    transition: 0.25s all linear;
    cursor: pointer;
}
#header a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 100%;
    border-bottom: 3px solid;
    transition: 0.25s all linear;
}
#header a:hover::before {
    width: 100%;
    top: 0;
    left: 0;
}
#header a:focus{
    transition: 0s all linear;
    color: white;
    font-size: 18px;
    transition: 0.25s all linear;
}
.a1{
    padding: 4px;
    border-radius: 3px;
    box-shadow: 2px 2px 2px 1px #555;
    background-color: limegreen;
    color: white;
}
.a2{
    font-weight: 500;
    padding-left: 5px;
    color: black;
    background: linear-gradient(to right, red,green,blue,orangered);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.t0:hover{color: #ffffff;}
.t1:hover{color: #ff0000;}
.t2:hover{color: #00ff7f;}
.t3:hover{color: #0000ff;}
.t4:hover{color: #ff4500;}
.t5:hover{color: #800080;}
.t6:hover{color: #a52a2a;}
#ad{
    white-space:nowrap;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-top: 70px;
    text-align: center;
    font-style: italic;
}
#shows{
    white-space: nowrap;
    overflow: auto;
	width: 100%;
}
#shows div{
    width: 100%;
    background: #555;
    display: inline-block;
}
#shows a{
    padding: 10px 40px 10px 40px;
    background-color: white;
    float: right;
    margin: 0 10px 10px 0;
}
#shows a:hover{
    background-color: #e66465;
    transition: 0.2s all linear;
}
/*::-webkit-scrollbar{display: none;}*/
#box table{
    width: 100%;
    border: 1px soild black;
    background-color: #222;
}
#box td{
    background-color: #86867E;
}
#box a{
    float: right;
    padding: 5px 40px 5px 40px;
    background-color: white;
}
#box a:hover{
    background-color: gold;
    transition: 0.2s all linear;
}
#sth video{
    background-color: #454647;
}
#sth h3{
    text-align: center;
}
#sth img{
    float: left;
    width: 106px;
    height: 144px;
}
#sth p{
    -webkit-column-count: 3; 
    -moz-column-count: 3; 
    column-count: 3;
}
#footer{
    bottom: 0;
    width: 100%;
    background-color: #262625;
    text-align: center;
}
input[type=search]{
    padding: 4px;
    border: none;
	box-shadow:none;
	outline: none;
    border-radius: 16px;
    text-align: center;
}
input[type=submit]{
    padding: 4px;
    border: none;
	box-shadow:none;
	outline: none;
    border-radius: 16px;
    background-color: orangered;
}
input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    position: relative;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: url("logo.jpg") no-repeat center;
    background-size: 100% 100%;
    color:rgba(0,0,0,0);
    }


summary{
    background-color: #bbb;
    border-radius: 16px;
}

details{
    background-color: #bbb;
    border-radius: 16px;
    margin: 25px;
    padding: 10px;
}
