*{
  user-select:none;
}
body{
margin:0px;
background-size:100% 100%;
background-attachment:fixed;
}
.video-box {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.video-box .video-background {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  min-height: 800px;
}
.box{
    border-radius: 5px;
    border: 1px solid #555;
    position: absolute;
    top: 50%;
    left:50%;
    padding: 20px;
    transform: translate(-50%,-50%);
    box-shadow:0.3em 0.3em 1em #222;
    background-color: white;
    
}
.item {
    position: relative;
    margin-top: 10px;
    width: 200px;
  }
  .item label {
    color: #555;
    position: absolute;
    top: calc((30px - 16px)/2);
    left: 10px;
    font-size: 16px;
    pointer-events: none;
    transition: all 0.5s;
  }
  .item input {
    border-radius: 5px;
    width: 100%;
    border: 1px solid #555;
    outline: none;
    height: 30px;
    /*.item input:invalid + label*/
  }
  .item input:focus + label, .item input:valid + label{
    top: -7px;
    font-size: 12px;
    color: #1180c5;
    background-color: white;
  }

  input[type=submit]{
    margin-top: 10px;
    color: white;
    background-color: #1180c5;
    border: 1px solid #1180c5;
    border-radius: 5px;
    height: 34px;
    font-size: 16px;
    margin-left: 106px;
    width: 100px;
    margin-bottom: 19.92px;
  }
  input[type=submit]:hover{background-color: #0f6da7;border: 1px solid #0f6da7;}
  a{color: #0f6da7;text-decoration: none;position: relative;}
  a:hover{border-bottom: 1px solid #0f6da7}
input:-webkit-autofill {box-shadow: 0 0 0px 1000px white inset !important;}
input[type=checkbox]:checked{background-color: #0f6da7;}
.down{positon:fixed;bottom:0;}
input[type=button]{
  margin-top: 5px;
    color: black;
    background-color: white;
    border: 1px solid #555;
    border-radius: 5px;
    height: 20px;
    font-size: 12px;
    width: 100%;
}
input[type=button]:hover{
  background-color: #222;
  border: 1px solid #222;
  color: white;
}
td.aaa{
  border-collapse: separate;
  border-spacing: 0;
  width:30px;
  vertical-align:top;
  border-radius: 5px 0 0 5px;
  border: 1px solid #555;
  height: 100%;
}
td.bbb{
  border-collapse: separate;
  border-spacing: 0;
  width:172px;
  vertical-align:top;
  border-radius: 0 5px 5px 0;
  border: 1px solid #555;
  border-left: none;
  height: 100%;
}
table{
  border-collapse: separate;
  width: 272px;
  border-spacing: 0;
  border-radius: 5px;
  height: 100%;
}
.box-1-1{width: 100%;border-radius: 4px;}
.box-2-1{width: 100%;border-radius: 4px 4px 0 0;}
.box-2-2{width: 100%;border-radius: 0 0 4px 4px;border-top: none;}
.box-3-1{width: 100%;border-radius: 4px 4px 0 0;}
.box-3-2{width: 100%;border-top: none;}
.box-3-3{width: 100%;border-radius: 0 0 4px 4px;border-top: none;}
input:-webkit-autofill {}
h2{
  text-align: center;
}
img{
  padding: 0;
  height: 63.9px;
  width: 63.9px;
}

