
*{
	-webkit-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        user-select: none;

}


.box{
    padding: 1% 0;
    white-space: nowrap;
    overflow-y:auto;
	width: 98%;
}

.box::-webkit-scrollbar{
    background-color: #555555;
}
.box1{
    width: 100%;
    margin:0 0 0 0;
    background: #708090;
    display: inline-block;
}

ul.css-title{
	background-image: linear-gradient(to right, blue , green , yellow , violet , red);
	font-size:200%;
	padding:1% 0 1.4% 1%;
	margin:0;
	list-style-type: none;
	width: 97%;
}
img.css-title-logo{
	width: 5%;
	height: 5%;
	float: left;
	margin-right:0.5%;

	
}
div.css-menu{
	width: 98%;
	
	padding:0.3% 0 0.3% 0%;
	Background-color:#555555;
	
}

.b-black {
    background-color: #555555;
    color: white;
    border: 2px solid #555555;
    padding: 0 1% 0 1%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 0 0 1%;
    cursor: pointer;
}

.b-black:hover {
    background-color: white;
	border: 2px solid #555555;
    color: #555555;
}
.b-blue {
	margin: 0 2% 2%;
	padding: 1% 5% 1% 5%;
    background-color: #708090;
    color: black;
    border: 2px solid white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
	float: right;
}

.b-blue:hover {
    background-color: #708090;
	border: 2px solid black;
    color: black;
}


