*{
    font-family:"Gill Sans", sans-serif;
    user-select: none;
    
}
#header{
    white-space:nowrap;
    position: fixed;
    top: 0;
    width: 100%;
    background-color:white;
    background-color: #666;
}
body{
    background-color: #666;
}
a{
    text-decoration: none;
    color: black;
}
#header ul {
    width: 100%;
    display: flex;
    position: relative;
}
li {
    list-style-type: none;
}

#header a {
    list-style-type: none;
    position: relative;
    padding: 20px;
    font-size: 21px;
    line-height: 1;
    transition: 0.2s all linear;
    cursor: pointer;
}

#header a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 0;
    height: 100%;
    border-bottom: 4px solid;
    transition: 0.2s all linear;
}

#header a:hover::before {
    width: 100%;
    top: 0;
    left: 0;
    transition-delay: 0.1s;
    z-index: -1;
}
#header a:focus{
    color: white;
}
.tag-n{
    padding: 7px;
    background-color: limegreen;
    color: white;
}
.tag-0{
    color: black;
}
.tag-0{
    color: black;
    background: linear-gradient(to right, red,lime,blue,orangered);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.tag-1:hover{color: red;}
.tag-2:hover{color: lime;}
.tag-3:hover{color: blue;}
.tag-4:hover{color: orangered;}
.tag-5:hover{color: purple;}
.tag-6:hover{color: brown;}
#ad{
    white-space:nowrap;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-top: 70px;
    text-align: center;
    font-style: italic;
}
#shows{
    white-space: nowrap;
    overflow: auto;
	width: 100%;
}
#shows div{
    width: 100%;
    background: #7b8085;
    display: inline-block;
}
#shows a{
    padding: 10px 40px 10px 40px;
    background-color: white;
    float: right;
    margin: 0 10px 10px 0;
}
#shows a:hover{
    background-color: #e66465;
    transition: 0.2s all linear;
}
::-webkit-scrollbar {
    background-color: #86867E;
}
::-webkit-scrollbar-thumb {
    background-color: #262625;
}
::-webkit-scrollbar-track {
    background-color: #86867E;
}
#box{
}
#box table{
    width: 100%;
    background-color: white;
    border-collapse: collapse
}
#box td{
    border: 1px soild black;
    background-color: #86867E;
}

#sth video{
    background-color: #454647;
}
#sth h3{
    text-align: center;
}
#sth img{
    float: left;
    width: 106px;
    height: 144px;
}
#sth p{
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}
#footer{
    background-color: #262625;
}

.test-iii {
    background: linear-gradient(to right, red, blue);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    }
