*{
    
}

body{
    
}

img{
    height: 70px;
}

table{
    margin: auto;
    width: 90%;
    border-collapse:collapse;
}

td{
    background-color: white;
    border: 2px solid #555;
    text-align: center;
}

th{
    font-size: 16px;
    background-color: white;
    border: 2px solid #555;
    text-align: center;
}

caption{
    font-size: 25px;
    padding: 21.5px;
    font-weight: bold;
    border: 2px solid #555;
    border-bottom: none;
}

a{
    font-size: 16px;
    text-decoration: none;
    color: blue;
}

a:hover{
    color: white;
    background-color: #555;
}