/*
----------------------------
	Yangko Studio
----------------------------
Singer Open System
*/
*{
  user-select: none;
}
.yk-ux{
  line-height: 0;
  background: linear-gradient(to right,#111,#333);
}
.yk-sd{
  white-space:nowrap;
  background: linear-gradient(to right,#333,#111);
}
.yk-ud a {
  position: relative;
  line-height: 1.5;
  transition: 0.15s all linear;
  cursor: pointer;
  -webkit-transition: 0.15s all linear;
  -moz-transition: 0.15s all linear;
  -ms-transition: 0.15s all linear;
  -o-transition: 0.15s all linear;
}
.yk-ud a::before{
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 100%;
  border-bottom: 3px solid;
  transition: 0.15s all linear;
  -webkit-transition: 0.15s all linear;
  -moz-transition: 0.15s all linear;
  -ms-transition: 0.15s all linear;
  -o-transition: 0.15s all linear;
}
.yk-ud a:hover::before {
  width: 100%;
  top: 0;
  left: 0;
}



.yk-uda a {
  position: relative;
  line-height: 1.5;
  transition: 0.4s all linear;
  cursor: pointer;
  -webkit-transition: 0.4s all linear;
  -moz-transition: 0.4s all linear;
  -ms-transition: 0.4s all linear;
  -o-transition: 0.4s all linear;
}
.yk-uda a::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-bottom: 2px groove;
  transition: 0.4s all linear;
  -webkit-transition: 0.4s all linear;
  -moz-transition: 0.4s all linear;
  -ms-transition: 0.4s all linear;
  -o-transition: 0.4s all linear;
}
.yk-uda a:hover::before {
  width: 100%;
  top: 0;
  left: 0;
}





.yk-a1{
  padding: 2px;
  border-radius: 0px;
  background-color: peru;
  color: white;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}
.yk-a2{
  padding-left: 5px;
  color: black;
  background: linear-gradient(to right,brown,orangered,forestgreen,steelblue,purple);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.yk-t0 a:hover{
  color: white;
}
.yk-t1 a:hover{
  color: brown;
}
.yk-t2 a:hover{
  color: springgreen;
}
.yk-t3 a:hover{
  color: steelblue;
}
.yk-t4 a:hover{
  color: orangered;
}
.yk-t5 a:hover{
  color: black;
}
#txt{
  color: #ffffff8c;
}
::-webkit-scrollbar
{
  width:7px;
  height: 7px;
  background-color:#fff;
}
::-webkit-scrollbar-track
{
  background-color:#fff;
}

::-webkit-scrollbar-thumb
{
  background-color:#000000;
}
.yk-bx{
  left: 50%;
}
input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  position: relative;
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50%;
  background: url("../assets/svg/x-lg.svg") no-repeat center;
  background-size: 100% 100%;
}
input[type=search]::-ms-clear {
  appearance: none;
  position: relative;
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50%;
  background: url("../assets/svg/x-lg.svg") no-repeat center;
  background-size: 100% 100%;
}