*{font-family:"Gill Sans", sans-serif;}
body{margin: 0;background-color: #888;}
::-webkit-scrollbar{display: none;}
img{
    width: 3rem;
    height: 3rem;
}
table{
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;
    width: 90%;
    background-color: #aaa;
    margin: 5rem auto;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
    text-align: center;
}
td{
    border-left: 1px solid #000000;
    border-top: 1px solid #000000;
    word-wrap:break-word;
    word-break:break-all;
    text-align: center;
}

a{
    color: #000;
}
a:hover,a:focus{
    color: #555;
}